

.input {
    color:black;
}

.card {
    margin-top: 3em;
}

.letras {
    font-size: sans-serif;
    font-family: sans-serif;
}

.card {
    opacity: 0.9 !important;
}

.space {
    margin-top: 0.7em;
    background-color: transparent;
    text-decoration: overline;
    border-bottom-color: rgb(1, 2, 2);
}

.p-col-12 {
    min-height: 4em;
}

button {
    background-color: red;
}